@font-face {
    font-family: headline;
    src: url(../2-labbymezzage/fonts/OldLondon.ttf);
}

@font-face {
    font-family: article;
    src: url(fonts/linowrite.ttf);
}

body 
{
    background-color: #efebe4;
}

header h1 {
    text-align: center;
    padding-top: 15px;
    color: #58544A;
}

#container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color: #dbd1ba;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow: 3px 4px 35px -4px rgba(38,35,32,1);
    -moz-box-shadow: 3px 4px 35px -4px rgba(38,35,32,1);
    box-shadow: 3px 4px 35px -4px rgba(38,35,32,1);
}

main {
    border-style: solid;
    border-width: 1px;
    border-color: #837D70;
}

p {
    font-family: article;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #837D70;
    color: #58544A;
}

#messagecount {
    font-size: 12px;
    text-align: right;
    margin-right: 20px;
    color: #58544A;
}

h1 {
    font-family: headline;
    font-size: 50px;
}

textarea {
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #E2DAC8;
    border-color: #837D70;
}

input {
    display: block;
    margin-left: auto;
    margin-right: 95px;
}

footer {
    font-size: 12px;
}