@font-face {
    font-family: headline;
    src: url(../fonts/OldLondon.ttf);
}

@font-face {
    font-family: article;
    src: url(../fonts/linowrite.ttf);
}

body 
{
    background-color: black;
}

header h1 {
    text-align: center;
    padding-top: 15px;
    color: black;
    font-family: headline;
    font-size: 50px;
}

#desktop {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 10px;
    background-image: url("../pics/paperbackground.jpg");
    padding-left: 20px;
    padding-right: 20px;
}

#iconbar {
    position: fixed;
    bottom: 10px;
    right: 10px;
    left: 15px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#iconbar img {
    margin: 10px;
}

/*p {
    font-family: article;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    word-wrap: break-word;
}*/

.window {
	background:#E3DEBF;
	font-size: 1.2em;

	width:500px;

	border:3px solid black;
	overflow:hidden;
	margin:auto;
	text-align: center;
	-moz-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}

.windowTop {
    display: block;
    padding: 10px;
    height: 30px;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#e1e2cc), to(#918a68));
background: -webkit-linear-gradient(#e1e2cc 0%, #918a68 100%);
background: -moz-linear-gradient(#e1e2cc 0%, #918a68 100%);
background: -o-linear-gradient(#e1e2cc 0%, #918a68 100%);
background: linear-gradient(#e1e2cc 0%, #918a68 100%);
}

#closeIMG {
    float: right;
    width: 20px;
    width: 20px;
}

.name {
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    font-family: article;
    color: black;
    font-size: 14px;
    text-align: left;
    word-wrap: break-word;
}

.windowContent {
    height: 100px;
}